@import '../../../scss/import';

$dot-size: s(1);
$padding-size: s(0.25);

$dot: (
  'checked': get($tone, 'white'),
  'hover': get($tone, 'white'),
  'radius': 100px,
  'unchecked': get($tone, 'haze'),
);

$box: (
  'checked': get($brand, 'primary'),
  'hover': get($tone, 'abbey'),
  'radius': 100px,
  'unchecked': get($tone, 'dust'),
);

.switch {

  align-items: center;
  display: inline-flex;

  &__field {
    display: none;

    &:checked {
      & + .switch__box {
        background-color: get($box, 'checked');
        filter: grayscale(0);

        // sass-lint:disable nesting-depth
        .switch__dot {
          background-color: get($dot, 'checked');
          transform: translate(100%, 0);
        }
      }
    }
  }

  &__box {
    background-color: get($box, 'unchecked');
    border-radius: get($box, 'radius');
    cursor: pointer;
    filter: grayscale(1);
    flex-shrink: 0;
    line-height: 0;
    padding: $padding-size;
    transition: background-color get($tween, 'hover'), filter get($tween, 'hover');
    width: (($dot-size + $padding-size) * 2);

    &:hover {
      background-color: get($box, 'hover');

      .switch {
        &__dot {
          background-color: get($dot, 'hover');
        }
      }
    }
  }

  &__dot {
    background-color: get($dot, 'unchecked');
    border-radius: get($dot, 'radius');
    display: inline-block;
    height: $dot-size;
    line-height: 0;
    transition: background-color get($tween, 'hover'), transform get($tween, 'slide');
    width: $dot-size;
  }

  &__text {
    cursor: pointer;

    &:first-child {
      margin-right: s(0.5);
    }

    &:last-child {
      margin-left: s(0.5);
    }
  }
}
