@import '../../scss/import';

$ease: get($tween, 'hover');
$small-height: 26px;

@import './Button.export';

@mixin add-state($state) {
  $states: join($states, $state) !global;

  &--#{state} {
    @content;
  }
}

.button {
  align-items: center;
  background-color: get($brand, 'primary');
  border: 1px solid get($brand, 'primary');
  border-radius: get($radius, 'normal');
  color: get($tone, 'white');
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  height: get($form, 'input-height');
  justify-content: center;
  outline: 0;
  padding: 0 s(0.5);
  text-decoration: none;
  transition: background-color $ease, border $ease, color $ease, filter $ease;
  user-select: none;

  &:focus,
  &:hover {
    filter: brightness(1.25);
  }

  &:active {
    filter: brightness(1.5);
  }

  &__text {
    line-height: 1;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__icon {
    &:first-child {
      margin-right: s(0.25);

      &:last-child {
        margin: 0;
      }
    }

    &:last-child {
      margin-left: s(0.25);
    }
  }

  &--option {
    background-color: get($tone, 'abbey');
    border-color: get($tone, 'abbey');

    &:focus,
    &:hover {
      filter: brightness(0.8);
    }

    &:active {
      filter: brightness(1);
    }
  }

  @include add-state('cancel') {
    background-color: transparent;
    border-color: get($tone, 'abbey');
    color: get($tone, 'abbey');
  }

  @include add-state('confirm') {
    background-color: get($status, 'success');
    border-color: get($status, 'success');

    &:focus,
    &:hover {
      filter: brightness(1.1);
    }

    &:active {
      filter: brightness(1.2);
    }
  }

  @include add-state('warning') {
    background-color: get($status, 'warning');
    border-color: get($status, 'warning');

    &:focus,
    &:hover {
      filter: brightness(1.1);
    }

    &:active {
      filter: brightness(1.25);
    }
  }

  @include add-state('danger') {
    background-color: get($status, 'error');
    border-color: get($status, 'error');

    &:focus,
    &:hover {
      filter: brightness(1.1);
    }

    &:active {
      filter: brightness(1.2);
    }
  }

  @include add-state('disabled') {
    background-color: get($status, 'disabled');
    border-color: get($status, 'disabled');
    pointer-events: none;
  }

  &--small {
    height: $small-height;

    .button {
      &__text {
        // @include apply-styles-set($font-sans-styles, 'small');
        margin-top: 2px;
      }

      &__icon {
        font-size: 18px;
      }
    }
  }
}

@include export-states;
