@import '../../../scss/import';

.todo-item {
  align-items: flex-start;
  border-radius: get($radius, 'normal');
  display: flex;
  list-style-type: square;
  padding: s(0.25);
  transition: background-color get($tween, 'hover');

  &--completed {
    background-color: get($tone, 'haze');
  }

  &:hover {
    .todo-item {
      &__delete {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__checkbox {
    flex-grow: 1;
  }

  &__delete {
    flex-shrink: 0;
    opacity: 0;
    pointer-events: none;
  }
}
