.page-limit {
  box-sizing: border-box;
  margin: auto;
  max-width: 1024px;
  padding-left: s(2);
  padding-right: s(2);

  @include media ('tablet') {
    padding-left: s(4);
    padding-right: s(4);
  }

  @include media ('large') {
    max-width: 1280px;
    padding-left: 0;
    padding-right: 0;
  }
}
