@import '../../scss/import';

$modal-size: 450px;
$modal-background: rgba(get($tone, 'abbey'), 0.5);

.modal {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: visibility get($tween, 'slide');
  visibility: hidden;
  z-index: 1;

  &--to-right {
    visibility: visible;
  }

  &--to-left {
    justify-content: flex-start;
    visibility: visible;

    .modal {
      &__close {
        left: auto;
        right: s(1);
      }

      &__window {
        transform: translate(-100%, 0);

        @include media ('tablet') {
          transform: translate(-100%, 0);
        }
      }
    }
  }

  &::after {
    background-color: $modal-background;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity get($tween, 'slide');
  }

  &--centered {
    @include media ('tablet') {
      justify-content: center;
    }

    &--to-left {
      @include media ('tablet') {
        justify-content: center;
      }
    }

    &--to-right {
      @include media ('tablet') {
        justify-content: center;
      }
    }

    .modal {
      &__window {
        @include media ('tablet') {
          height: auto;
          max-width: $modal-size;
          opacity: 0;
          transform: translate(0, 10%);
        }
      }

      &__contents {
        @include media ('tablet') {
          max-height: 50vh;
          min-height: 350px;
        }

        &--clean {
          @include media ('tablet') {
            padding-right: 0;
          }
        }
      }
    }
  }

  &--active {
    pointer-events: auto;

    &::after {
      opacity: 1;
    }

    .modal {
      &__window {
        box-shadow: get($shadow, 'strong');
        opacity: 1;
        transform: translate(0, 0);
      }

      &__close {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }

  &__window {
    background-color: get($tone, 'white');
    box-shadow: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    max-width: calc(100% - #{s(3)});
    opacity: 1;
    position: relative;
    transform: translate(calc(100% + #{s(3)}), 0);
    transition: box-shadow get($tween, 'slide'), opacity get($tween, 'slide'), transform get($tween, 'slide');
    z-index: 1;

    @include media ('tablet') {
      max-width: 600px;
      transform: translate(100%, 0);
    }
  }

  &__header {
    background-color: get($tone, 'white');
    box-shadow: get($shadow, 'bottom');
    display: flex;
    flex-shrink: 0;
    padding: s(1);
    position: relative;

    @include media ('tablet') {
      padding: s(1) s(3) s(1) s(1);
    }
  }

  &__footer {
    background-color: get($tone, 'white');
    box-shadow: get($shadow, 'top');
    display: grid;
    grid-gap: s(1);
    grid-template-columns: 1fr 1fr;
    padding: s(1);
    position: relative;
  }

  &__contents {
    // sass-lint:disable no-vendor-prefixes
    -webkit-overflow-scrolling: touch;
    flex-grow: 1;
    overflow: auto;
    padding: s(1);

    @include media ('tablet') {
      max-height: auto;
      padding: s(1) s(3) s(1) s(1);
    }

    &--close-outside {
      @include media ('tablet') {
        padding: s(1);
      }

      &.modal__contents--clean {
        @include media ('tablet') {
          padding-right: 0;
        }
      }
    }

    &--clean {
      padding: 0;

      @include media ('tablet') {
        padding-right: s(3);
      }
    }
  }

  &__close-inside {
    color: inherit;
    cursor: pointer;
    left: auto;
    position: absolute;
    right: s(1);
    top: s(1);

    @include media ('mobile') {
      display: none;
    }
  }

  &__close {
    color: get($tone, 'white');
    cursor: pointer;
    left: s(1);
    opacity: 0;
    position: fixed;
    top: s(1);
    transform: translate(-100%, 0);
    transition: opacity get($tween, 'slide'), transform get($tween, 'slide');
    z-index: 2;

    @include media ('tablet') {
      display: none;
    }
  }
}
